* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

h1,
i {
  color: #1dbfaf;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
  margin: auto;
  max-width: 70%;
  overflow-x: hidden;
  padding: 0 0;
}

.header-div {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  margin-top: 15px;
}

.name-dsc {
  margin-top: 20px;
  margin-left: 20px;
}

.about {
  margin-top: 15px;
}

.profile-img {
  width: 13rem;
  border-radius: 7em;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
}

.main-right-mobile {
  display: none;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-left-div {
  width: 66%;
}

.main-right-div {
  width: 25%;
  /* padding-left: 10px; */
}

.title2 {
  border-bottom: 2px solid #1dbfaf;
  margin-top: 0px;
  font-size: 0.8rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills h2 {
  display: flex;
  justify-content: center;
  border: 2px solid #1dbfaf;
  border-radius: 0.1em;
  padding: 5px;
  margin: 5px;
  margin-top: 6px;
  font-size: 1.3rem;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content img {
  max-width: 100%;
  height: auto;
}

.title {
  border-bottom: 2px solid #1dbfaf;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date {
  display: flex;
  justify-content: space-between;
}

.mic-logo {
  width: 25px;
  border-radius: 7em;
}

.mic-logo2 {
  width: 700px;
}

.text {
  display: flex;
  margin: 15px 0;

}

.text2 {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.text2 > span {
  margin-right: 10px;
  color: #1dbfaf;
}
.text > span {
  margin-right: 10px;
  color: #1dbfaf;
}

.live-demo {
  border-bottom: 2px solid #1dbfaf;
  margin-bottom: 0;
}

.authors {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.built-with {
  font-size: 1rem;
  border: 2px solid #1dbfaf;
  border-radius: 0.1em;
  padding: 5px;
  margin: 5px;
  margin-top: 0;
}

.line {
  border-bottom: 2px solid #1dbfaf;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 888px) {
  .header-div {
    display: flex;
    flex-direction: column;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 10px;
  }

  .main-right-div {
    display: none;
  }

  .main-right-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 7px;
  }

  .main-left-div {
    width: 100%;
  }
}

@media only screen and (max-width: 572px) {
  .container {
    max-width: 98%;
  }
}

@media only screen and (max-width: 572px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
  }
}